/* *{
  box-sizing: border-box;
} */

a{
  color: rgb(255, 255, 255);
  text-decoration: none;
}

a:hover {
  color: rgb(146, 146, 146);
}

a:active {
  color: rgb(204, 204, 204);
}

.a-alt {
  color: rgb(0, 0, 0);
  text-decoration: none;
}

.navbar{
  display: flex;
  justify-content: space-between;
  position: sticky;
  top: 0;
  width: 100%;
  padding-top: 0%;
  padding-bottom: 0%;
  background-color: #000000;
  font-size: 20px;
}

.navbar_toggle {
  display: none;
}

.home-button {
  background-color: rgb(0, 0, 0);
  border: none;
  color: white;
  padding: 16px;
  font-size: 20px;
  cursor: pointer;
}

.logo{
  margin-left: 5%;
  color: #ffffff;
  font-size: 20px;
  font-weight: bold;
  
}
.logo_header{
  display: flex;
  margin-left: 2%;
}

.main_nav{
  display: flex;
  width: 50%;
  float: right;
  margin-right: 2%;
  justify-content: space-evenly;
  list-style: none;
}
.main_nav li:hover{
  background-color: gray;
}

.main_nav li{
  display: inline;
  color: #ffffff;
}
.main_nav li a{
  color: #ffffff;
}

@media only screen and (max-width : 992px){

  .navbar{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    padding-top: 2%;
    padding-bottom: 2%;
    background-color: #000000;
    font-size: 20px;
  }

  .main_nav{
    display: none;
  }

  .show_nav{
    padding-top: 2%;
    display: flex;
    width: 100%;
    /* height: 100vh; */
    flex-direction: column;
    justify-content: flex-start;
  }

  .main_nav li{
    width: 90%;
    height: 50px;
    font-size: 25px;
    justify-content: center;
    text-align: center;
    padding: 0%;
    border-radius: 10px;
  }

  
  .navbar_toggle {
    margin-left: 5%;
    margin-right: 5%;
    font-size: 30px;
    color: #ffffff;
    background: transparent;
    border-color: transparent;
    transition: all 0.3s linear;
    cursor: pointer;
    display: block;
  }

  .logo_header{
    width: 100%;
    justify-content: space-between;
    margin-right: 2%;
  }

  .footer-logo {
    display: none;
  }
  
} 

body {
    display: flex;
    flex-direction: column;
    font-family: 'Roboto', sans-serif;
    background-color: #ffffff;
}

section {
  width: 100%;
  background-color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  padding: 20px 0 0 0;
}

.about {
  text-indent: 15px;
  text-align: center;
}

.styled-break {
  width: 100%;
  height: 3px;
  background-color: #e3e3e3;
  border-radius: 2.5px;
  margin: 20px 0 20px 0;
}

.board-img {
  width: 300px;
  border-radius: 10px;
}

.board {
  /* background-color: #c4c1c1; */
  /* border-radius: 5px; */
  width: 100%;
  margin: 5px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.board-member {
  padding: 10px;
  margin: 5px;
  border: 2px solid #eeeeee;
  box-shadow: 1px 1px rgb(239, 239, 239);
  border-radius: 15px;
  flex: 30%;
  flex-wrap: wrap;
  justify-content: center;  
}

.projects {
  /* background-color: #c4c1c1; */
  /* border-radius: 5px; */
  width: 100%;
  margin: 5px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.project-img {
  width: 300px;
  border-radius: 10px; 
}


.single-project {
  padding: 10px;
  margin: 5px;
  /* border: 2px solid #eeeeee;
  box-shadow: 1px 1px rgb(239, 239, 239);
  border-radius: 15px; */
  flex: 30%;
  flex-wrap: wrap; 
  justify-content: center;
}

.donate p {
  text-indent: 15px;
  text-align: center;
}

.donate p a {
  color: black;
  text-decoration: underline;
}

.button-group {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.button {
  margin: 10px;
  padding: 5px 15px;
  font-size: 24px;
  background-color: #000000;
  width: 300px;
  border-radius: 20px;
  color: #ffffff;
  /* text-transform: uppercase; */
  text-align: center;
  cursor: pointer;
}

.button:hover {
  background-color: #adabab;
  color: #ffffff;
}

.button:active {
  box-shadow: inset -2px -2px 3px rgba(255, 255, 255, 0.6);
}

form {
  background-color: rgb(255, 255, 255);
  display: flex;
  flex-direction: column;
  padding: 2vw 4vw;
  width: 90%;
  max-width: 600px;
  border-radius: 10px;
}

form h3{
  font-weight: 800;
  margin-bottom: 20px;
}

form input, form textarea {
  border: 0;
  margin: 10px 0;
  padding: 20px;
  outline: none;
  background: #e2e2e2;
  font-size: 16px;
  border-radius: 5px;
}

form button {
  padding: 15px;
  background: black;
  color: white;
  font-size: 18px;
  border: 0;
  outline: none;
  cursor: pointer;
  width: 150px;
  margin: 20px auto 0;
  border-radius: 30px;
}

form button:hover {
  background-color: #b9b9b9;
  color: #000000;
}

.footer {
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  /* position: sticky; */
  bottom: 0;
  width: 100%;
  padding-top: 0%;
  padding-bottom: 0%;
  background-color: #000000;
}

.footer-item {
  display: flex;
  justify-content: space-evenly;
  margin: 20px;
  flex: 30%;
  flex-wrap: wrap;
  color: #ffffff;
  font-size: 16px;
}

.footer-logo {
  max-width: 150px;
  justify-content: center;
}

.social li {
  display: inline-flex;
  list-style: none;
  font-size: 40px;
  padding: 20px;
}

@media only screen and (max-width: 992px) {
  .board-member {
    width: 60%;
  }
}
@media only screen and (max-width: 600px) {
  .board-member {
    width: 100%;
  
  }
}
