@charset "UTF-8";

/* *{
  box-sizing: border-box;
} */

/* ALERTS */

.alert {
  padding: 20px;
  background-color: rgb(70, 165, 51);
  color: white;
  text-align: center;
}

.closebtn {
  margin-left: 15px;
  color: white;
  font-weight: bold;
  float: right;
  font-size: 22px;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;
}

.closebtn:hover {
  color: #262626;
}

/* LINK DECORATION */

a{
  color: rgb(255, 255, 255);
  text-decoration: none;
}

a:hover {
  color: #979899;
}

a:active {
  color: #979899;
}

.a-alt {
  color: #262626;
  text-decoration: none;
}

p {
  line-height: 1.6;
}

h1, h2, h3, h4, h5, h6 {
  line-height: 1.2;
}

.styled-break {
  width: 100%;
  height: 3px;
  background-color: #e3e3e3;
  border-radius: 2.5px;
  margin: 20px 0 20px 0;
}

/* TOP NAVIGATION BAR v2 */

.navigation {
  width: 100%;
  height: 50px;
  background: #262626;
  position: sticky;
  top: 0;
  z-index: 1;
}

.nav-container {
  width: 100%;
  margin: 0 auto;
}

/* .social-nav li {
  display: block;
  float: left;
  padding-right: 40px;
  color: #ffffff;
  font-size: 30px;
  list-style: none;
}

.social-nav li:hover {
  color: #979899;
} */

nav {
  float: right;
}
nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
nav ul li {
  float: left;
  position: relative;
}
nav ul li a,
nav ul li a:visited {
  display: block;
  padding: 0 20px;
  line-height: 50px;
  background: #262626;
  color: #ffffff;
  text-decoration: none;
  font-size: 20px;
}
nav ul li a:hover,
nav ul li a:visited:hover {
  background: #979899;
  color: #ffffff;
}
nav ul li a:not(:only-child):after,
nav ul li a:visited:not(:only-child):after {
  padding-left: 4px;
  content: " ▾";
}
nav ul li ul li {
  min-width: 190px;
}
nav ul li ul li a {
  padding: 15px;
  line-height: 20px;
}

.nav-dropdown {
  position: absolute;
  display: none;
  z-index: 1;
  box-shadow: 0 3px 12px rgba(0, 0, 0, 0.15);
}

/* Mobile navigation */
.nav-mobile {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  background: #262626;
  height: 70px;
  width: 70px;
}

@media only screen and (max-width: 799px) {
  .nav-mobile {
    display: block;
  }

  nav {
    width: 100%;
    padding: 50px 0 15px;
  }
  nav ul {
    display: none;
  }
  nav ul li {
    float: none;
  }
  nav ul li a {
    padding: 15px;
    line-height: 20px;
  }
  nav ul li ul li a {
    padding-left: 30px;
  }

  .nav-dropdown {
    position: static;
  }
}
@media screen and (min-width: 799px) {
  .nav-list {
    display: block !important;
  }
}
#nav-toggle {
  position: absolute;
  left: 18px;
  top: 22px;
  cursor: pointer;
  padding: 10px 35px 16px 0px;
}
#nav-toggle span,
#nav-toggle span:before,
#nav-toggle span:after {
  cursor: pointer;
  border-radius: 1px;
  height: 5px;
  width: 35px;
  background: #ffffff;
  position: absolute;
  display: block;
  content: "";
  transition: all 300ms ease-in-out;
}
#nav-toggle span:before {
  top: -10px;
}
#nav-toggle span:after {
  bottom: -10px;
}
#nav-toggle.active span {
  background-color: transparent;
}
#nav-toggle.active span:before, #nav-toggle.active span:after {
  top: 0;
}
#nav-toggle.active span:before {
  transform: rotate(45deg);
}
#nav-toggle.active span:after {
  transform: rotate(-45deg);
}

body {
  display: flex;
  flex-direction: column;
  font-family: 'Roboto', sans-serif;
  color:#262626;
  background-color: #f5f5f5;
}

section {
width: 100%;
background-color: #f5f5f5;
display: flex;
align-items: center;
justify-content: center;
flex-wrap: wrap;
padding: 20px 0 0 0;
}

/* ABOUT SECTION */

.about h2 {
  text-indent: 15px;
  text-align: center;
  /* justify-content: left; */
  padding: 0px 50px 0px 50px;
}

.about p {
  text-indent: 15px;
  /* text-align: center; */
  /* justify-content: left; */
  padding: 0px 50px 0px 50px;
}

/* BOARD MEMBER SECTION */

.board-img {
  width: 300px;
  border-radius: 10px;
}

.board {
  /* background-color: #c4c1c1; */
  /* border-radius: 5px; */
  width: 100%;
  margin: 5px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.board-2-col {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 0px 315px;
}

.board-member {
  padding: 10px;
  margin: 5px;
  border: 2px solid #eeeeee;
  box-shadow: 1px 1px rgb(239, 239, 239);
  border-radius: 15px;
  flex: 30%;
  flex-wrap: wrap;
  justify-content: center;  
}

/* MEDIA QUERY FOR BOARD MEMBER SECTION */

@media only screen and (max-width: 992px) {
  .board-member {
    width: 60%;
  }
  .board-2-col {
    padding: 0;
  }
}
@media only screen and (max-width: 600px) {
  .board-member {
    width: 100%;
  }
  .board-2-col {
    padding: 0;
  }
}

/* DONATE SECTION */

.donate p {
  text-indent: 15px;
  /* text-align: center; */
  /* justify-content: left; */
  padding: 0px 50px 0px 50px;
}

.donate p a {
  color: #262626;
  text-decoration: underline;
}

/* PROJECT SECTION */

.projects {
  /* background-color: #c4c1c1; */
  /* border-radius: 5px; */
  width: 100%;
  margin: 5px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.project-img {
  width: 300px;
  border-radius: 10px; 
}


.single-project {
  padding: 10px;
  margin: 5px;
  /* border: 2px solid #eeeeee;
  box-shadow: 1px 1px rgb(239, 239, 239);
  border-radius: 15px; */
  flex: 30%;
  flex-wrap: wrap; 
  justify-content: center;
}

/* MAP SECTION */

.map-container {
  display: flex;
  flex-direction: column;
}

.map {
  margin-top: 10px;
  margin-bottom: 10px;
  width: 85vw;
  height: 80vh;
  border: none;
}

/* BUTTONS */

.button-group {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.button {
  margin: 10px;
  padding: 5px 15px;
  font-size: 24px;
  background-color: #262626;
  width: 300px;
  border-radius: 20px;
  color: #ffffff;
  /* text-transform: uppercase; */
  text-align: center;
  cursor: pointer;
}

.button:hover {
  background-color: #979899;
  color: #ffffff;
}

.button:active {
  box-shadow: inset -2px -2px 3px rgba(255, 255, 255, 0.6);
}

/* FORMS */

.contact-form {
  border: 0;
  background-color: #f5f5f5;
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 99vw;
}

/* Below is CSS for EmailJS form which isn't used right now */

/* form {
  background-color: #f5f5f5;
  display: flex;
  flex-direction: column;
  padding: 2vw 4vw;
  width: 90%;
  max-width: 600px;
  border-radius: 10px;
}

form h3{
  font-weight: 800;
  margin-bottom: 20px;
}

form input, form textarea {
  border: 0;
  margin: 10px 0;
  padding: 20px;
  outline: none;
  background: #e2e2e2;
  font-size: 16px;
  border-radius: 5px;
}

form button {
  padding: 15px;
  background: #262626;
  color: white;
  font-size: 18px;
  border: 0;
  outline: none;
  cursor: pointer;
  width: 150px;
  margin: 20px auto 0;
  border-radius: 30px;
}

form button:hover {
  background-color: #979899;
  color: #262626;
} */

/* FOOTER */

.footer {
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  /* position: sticky; */
  bottom: 0;
  width: 100%;
  padding-top: 0%;
  padding-bottom: 0%;
  background-color: #262626;
}

.footer-item {
  display: flex;
  justify-content: space-evenly;
  margin: 20px;
  flex: 30%;
  flex-wrap: wrap;
  color: #ffffff;
  font-size: 16px;
}

.footer-logo {
  max-width: 150px;
  justify-content: center;
}

/* MEDIA QUERY FOR FOOTER */
@media only screen and (max-width : 992px){
  .footer {
    flex-direction: column-reverse;
    justify-content: center;
  }

  .footer-logo {
    display: none;
  }

}

/* SOCIAL MEDIA */

.social li {
  display: inline-flex;
  list-style: none;
  font-size: 40px;
  padding: 20px;
}
